@import "../../styles/variables.scss";

.os-button {
  padding: $default-padding;
  color: $color-white;
  border: 0;
  font-weight: bold;
  cursor: pointer;

  &[data-variant="primary"] {
    background: $color-primary;
  }

  &[data-variant="secondary"] {
    background: $color-secondary;
  }

  &[data-variant="success"] {
    background: $color-success;
  }

  &[data-variant="warning"] {
    background: $color-warning;
  }

  &[data-variant="error"] {
    background: $color-error;
  }

  &[data-variant="menu"] {
    background: $color-grey;
    color: white;
    transition: background 0.2s;
    &:hover {
      background: $color-primary;
    }
  }
}