$color-primary: #0078D7;
$color-secondary: #0099BC;
$color-warning: #FFB900;
$color-error: #E81123;
$color-success: #00CC6A;
$color-grey: #7A7574;
$color-dark-grey: #4C4A48;
$color-black: black;
$color-white: white;

$default-padding: 1rem;