@import "../../styles/variables.scss";

#route-os {
  height: 100%;

  &--taskbar {
    background: $color-dark-grey;
    display: grid;
    grid-template-columns: 1fr 1fr 10fr;
    gap: $default-padding;
    height: 6%;
    border-bottom: 2px solid black;
  }

  &--workspace {
    height: 94%;
  }

  &--start-menu {
    position: absolute;
    top: 6%;
    left: 0;
    background: $color-dark-grey;
    width: 20%;
    padding: $default-padding;

    ul {
      list-style-type: none;
    }

    button {
      width: 100%;
    }
  }
}

.workspace-task {
  width: 600px;
  height: 300px;
  position: absolute;
  top: 20%;
  left: 20%;
  background: $color-white;
  border: 1px solid $color-black;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}