@import "../../styles/variables.scss";

#route-login {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &--form-container {
    background: $color-white;
    padding: $default-padding;

    label, input {
      display: block;
    }

    input {
      margin-bottom: $default-padding;
      width: 100%;
    }

    button {
      width: 100%;
    }
  }
}

.error {
  color: $color-error;
  font-weight: bold;
}